<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GET / books</title>
    <link rel="stylesheet" href="../../styles.css">
    <link rel="stylesheet" href="../../header.css">
    <link rel="stylesheet" href="../../hero.css">
</head>
<body>
<!-- import header -->
<%- include('../components/header', { message: message }) %>
<!-- import hero -->
<%- include('../components/hero', { hero: hero }) %>
<!-- main -->
<main class="container">
    <section class="guide">
        <div class="get-books">
            <h2 class="guide-title">EndPoint - GET /books/v1/get/all</h2>
            <p>도서 조회 API 는 데이터베이스에 등록된 모든 도서 정보를 JSON 형식으로 반환하는 API 입니다.</p>
            <p>아래는 Fetch API 를 사용한 예시지만 다른 언어에서도 API를 사용할 수 있습니다.</p>

            <h4>응답 예시 (성공)</h4>
            <pre><code><%= JSON.stringify(mock, null, 2) %></code></pre>

            <h4>응답 예시 (실패)</h4>
            <pre><code><%= JSON.stringify(errorMessage, null, 2) %></code></pre>
        </div>
    </section>
    <section class="guide">
        <div class="get-book-by-id">
            <h2>EndPoint</h2>
            <h3>GET books/info/{id}</h3>
            <p>이 API 는 도서의 고유 식별번호를 사용하여 특정 도서를 JSON 형식으로 반환하는 API 입니다.</p>
            <p>아래는 Fetch API 를 사용한 예시지만 다른 언어에서도 API를 사용할 수 있습니다.</p>

            <h4>응답 예시 (성공)</h4>
            <pre><code><%= JSON.stringify(mock, null, 2) %></code></pre>
            <h4>응답 예시 (실패)</h4>
            <pre><code><%= JSON.stringify(errorMessage, null, 2) %></code></pre>
        </div>
    </section>
    <!-- import Error -->
    <%- include('../components/error') %>
</main>
</body>
</html>